* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font: 100%/1.5 sans-serif;
	padding: 1em;
}

a {
	color: inherit;
}

h1 {
	position: absolute;
	right: 100%;
	top: .3em;
	margin-right: -.2em;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 100% 0;
	transform: rotate(-90deg);
	transform-origin: 100% 0;
	font-size: 500%;
	line-height: 1;
	letter-spacing: -1px;
}

	h1 > span {
		color: white;
		text-shadow: 1px 0 black, -1px 0 black, 0 0 2px black;
	}

	@supports (color: oklch(0% 0 0)) and (-webkit-background-clip: text) {
		h1 > span {
			--hc: 70% .2;
			/* Why so many stops? Because in oklch longer seems borked */
			background: linear-gradient(to left in oklch,
				oklch(var(--hc) 0), oklch(var(--hc) 60),
				oklch(var(--hc) 120), oklch(var(--hc) 180),
				oklch(var(--hc) 240), oklch(var(--hc) 300),
				oklch(var(--hc) 360)
			);
			-webkit-background-clip: text;
			color: transparent;
			text-shadow: none;
			-webkit-text-stroke: 1px black;
		}
	}

h1 + p {
	padding: 1em 0;
}

#colors {
	display: inline-block;
	overflow: hidden;
	border: 10px solid white;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

	#colors .color {
		display: inline-block;
		position: relative;

		width: 200px;
		height: 200px;
		background: linear-gradient(45deg, silver 25%, transparent 25%, transparent 75%, silver 75%),
		            linear-gradient(45deg, silver 25%, transparent 25%, transparent 75%, silver 75%) 10px 10px;
		background-color: #eee;
		background-size: 20px 20px;
	}

		#colors .color button {
			padding: .35em .8em .4em;
			border: 1px solid rgba(0,0,0,.3);
			border-radius: .2em;
			margin-top: 2em;
			outline: none;
			background: yellowgreen linear-gradient(yellowgreen, hsl(80,80%,35%));
			box-shadow: 0 1px hsla(0,0%,100%,.8) inset, 0 4px 8px -2px black;
			color: hsl(80,80%,20%);
			text-shadow: 0 1px 1px white;
			font-size: 150%;
		}

		#solution {
			float: left;
		}

		#yourcolor {
			float: right;
		}

		#colors .color:before {
			content: attr(title);
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			padding: .5em .8em .6em;
			background: rgba(0,0,0,.5);
			color: white;
			text-shadow: 0 0 2px black;
			font-size: smaller;
			font-weight: bold;
		}

#attempt, code {
	font-family: Consolas, Monaco, monospace;
}

#attempt {
	display: block;
	padding: .3em .5em;
	border: 1px solid rgba(0,0,0,.5);
	border-radius: .3em;
	outline: none;
	margin: 1em auto;
	font-size: 150%;
}

#attempt:focus {
	box-shadow: 0 1px 5px rgba(0,0,0,.4) inset;
}

#attempt.invalid {
	background: #fdd;
}

.hint {
	max-width: 30em;
	margin: auto;
	font-size: smaller;
	color: gray;
}

#proximity {
	position: absolute;
	top: .5rem;
	left: 50%;
	margin-left: 160px;
	width: 4em;
	height: 4em;
	padding: 1.1em .5em;
	box-sizing: border-box;
	border-radius: 50%;
	background: black;
	text-align: center;
	color: white;
	font-size: 160%;
	line-height: 1;
	font-weight: bold;
	letter-spacing: -1px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5), 0 0 0 4px rgba(0,0,0,.1) inset;
}

	#proximity.success {
		background: hsl(90, 80%, 35%);
	}

	#proximity.close-0\% {
		background: darkred;
	}

	#proximity.close-10\% {
		background: red;
	}

	#proximity.close-20\%,
	#proximity.close-30\% {
		background: hsl(20, 100%, 50%);
	}

	#proximity.close-40\%,
	#proximity.close-50\% {
		background: hsl(30, 100%, 50%);
	}

	#proximity.close-60\% {
		background: hsl(40, 100%, 45%);
	}

	#proximity.close-70\% {
		background: hsl(50, 100%, 45%);
	}

	#proximity.close-80\% {
		background: hsl(65, 100%, 40%);
	}

	#proximity.close-90\% {
		background: hsl(75, 100%, 40%);
	}

	#proximity:before {
		content: attr(data-label);
		display: block;
		margin-bottom: .4em;
		font-size: 50%;
		line-height: 1;
		font-weight: normal;
		letter-spacing: 0;
	}


.message {
	display: none;
	width: 24em;
	padding: .5em .8em;
	margin: 1em auto;
	border-radius: .15em;
}

	.message.show {
		display: block;
	}

	.message a,
	#successes #tweet {
		display: inline-block;
		padding: .2em .5em;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: .3em;
		background: linear-gradient(hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
		box-shadow: 0 1px hsla(0,0%,100%,.6) inset;
		color: white;
		text-decoration: none;
	}

	.message a {
		text-transform: uppercase;
		font-size: 80%;
	}

	.message a:active,
	#successes #tweet:active {
		background-image: none;
		box-shadow: 0 1px 5px rgba(0,0,0,.6) inset;
	}

p#success {
	border: 1px solid hsl(80,100%,45%);
	background: hsl(80,100%,90%);
	color: hsl(80,100%,20%);
}

	p#success a {
		background-color: hsl(80,100%,30%);
	}

p#slow {
	border: 1px solid hsl(0, 100%, 70%);
	background: hsl(0, 100%, 90%);
	color: hsl(0, 100%, 20%);
}

	p#slow a {
		background-color: hsl(0, 100%, 30%);
	}

#timer {
	margin: .5em 0;
	font-size: 250%;
}

#successes {
	display: none;
	position: fixed;
	top: 0; bottom: 0; right: 0;
	width: 12em;
	background: #eee;
}

	#successes.show {
		display: block;
	}

	#successes .color {
		padding: .1em;
		font-size: 200%;
		font-weight: 100;
	}

	#successes #tweet {
		margin: 1em auto;
		font-weight: bold;
		background-color: #112;
		font-size: 120%;
		letter-spacing: -1px;
		text-shadow: 0 -1px 2px black;
	}

.twitter-share-button {
	position: absolute;
	left: 2em;
	top: 32em;
}

#ad {
	max-width: 25em;
	margin: 1em auto;
}

	/* Ad packs */
	.bsa_it_ad {
		padding:10px !important;
		font: inherit !important;
		overflow: hidden;
	}

		.bsa_it_i {
			display:block;
			float:none;
			margin: 0 10px 5px 0 !important;
		}

		.bsa_it_ad img {
			padding:0;
			border:none;
		}

		.bsa_it_ad .bsa_it_t {
			padding:1px 0 0 0;
		}

		.bsa_it_d {
			font-size: 70% !important;
		}

	.bsa_it_p {
		display: none !important;
	}

	#bsap_aplink {
		display:block;
		font-size:10px;
		margin: 0 15px 0;
		text-align: right;
		text-decoration: none;
	}

footer {
	margin-top: 1em;
}

#progression {
	display: flex;
	width: 25em;
	height: 2em;
	margin: auto;
	margin-bottom: .5em;
}

#progression > div {
	flex: 1;
}