.guess-input {
	position: relative;

	& input {
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: .3em .5em;
		border: 1px solid hsl(220 10% 80%);
		border-radius: 0 0 .3rem .3rem;
		background: hsl(220 10% 98%);
		outline: none;
		font-family: var(--font-monospace);
		font-size: 150%;

		&:focus {
			box-shadow: 1px 2px .1em hsl(220 10% 40% / .3) inset;
			background: white;
		}

		&.invalid {
			background: #fdd;
		}
	}
}

.popup {
	position: absolute;
	background: white;
	border: 1px solid hsl(220 10% 90%);
	padding: .8em 1em;
	border-radius: .2em;
	filter: drop-shadow(0 0 1em hsl(220 10% 50% / .3));
	transition: .2s transform;
	transform-origin: 2.3em -.8em;

	/* Pointer */
	&::before {
		content: '';
		position: absolute;
		left: 1.5em;
		bottom: 100%;
		aspect-ratio: 2;
		height: .8em;
		clip-path: polygon(0 100%, 50% 0, 100% 100%);
		background: inherit;
	}
}

.hint {
	left: 0;
	margin-top: .2em;
	font-size: smaller;
	color: hsl(220 10% 50%);

	/* Hide the hint when empty, or when the field is blurred and the hint isn't being interacted with */
	&:empty,
	.guess-input input:not(:focus) ~ &:not(:active) {
		transform: scale(0);
		transition-delay: 1s;
	}
}

.coord,
.coord-type {
	display: inline-block;
	background: hsl(220 10% 50% / .03);
	padding: .3em;
	border-radius: .2em;
	border: 1px solid hsl(220 10% 50% / .05);
}

.coord-type {
	background: hsl(220 10% 50% / .05);
	line-height: 1;
	font-weight: bold;

	&.active {
		color: black;
	}
}
